Repository sgo722/ttalkak: changes, and which Jenkins stages are due for each by the changed paths.
All: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Test User Service:
                      steps {
                          script {
                              sh """
                              cd user-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

Test Deployment Service:
                      steps {
                          script {
                              sh """
                              cd deployment-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

Test Project Service:
                      steps {
                          script {
                              sh """
                              cd project-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

documentation:
              steps {
                  sh """
                  docker ps -q --filter "name=document-service" | xargs -r docker stop
                  docker ps -aq --filter "name=document-service" | xargs -r docker rm
  ...

Build and Deploy Eureka Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop eureka-server || true
                              docker-compose -f docker-compose-prod.yml rm -f eureka-server || true
  ...

Build and Deploy Config Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop config-server || true
                              docker-compose -f docker-compose-prod.yml rm -f config-server || true
  ...

Build and Deploy Notification Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop notification-service || true
  ...

Build and Deploy Gateway Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop gateway-service || true
                              docker-compose -f docker-compose-prod.yml rm -f gateway-service || true
  ...

Build and Deploy User Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop user-service || true
                              docker-compose -f docker-compose-prod.yml rm -f user-service || true
  ...

restore
  server/.idea/.name
  server/.idea/compiler.xml
  server/.idea/dataSources.local.xml
  server/.idea/dataSources.xml
  server/.idea/dataSources/f76c988a-a487-4a0c-abe3-004d5ecba508.corrupted.20240913-113119.reason.txt
  server/.idea/dataSources/f76c988a-a487-4a0c-abe3-004d5ecba508.corrupted.20240913-113119.xml
  server/.idea/dataSources/f76c988a-a487-4a0c-abe3-004d5ecba508/storage_v2/_src_/database/ttalkak.Sp_Oww.meta
  server/.idea/dataSources/f76c988a-a487-4a0c-abe3-004d5ecba508/storage_v2/_src_/database/ttalkak.Sp_Oww/schema/information_schema.FNRwLQ.meta
  server/.idea/dataSources/f76c988a-a487-4a0c-abe3-004d5ecba508/storage_v2/_src_/database/ttalkak.Sp_Oww/schema/pg_catalog.0S1ZNQ.meta
  server/.idea/dataSources/f76c988a-a487-4a0c-abe3-004d5ecba508/storage_v2/_src_/database/ttalkak.Sp_Oww/schema/public.abK9xQ.meta
  server/.idea/ddalkak.iml
  server/.idea/gradle.xml
  server/.idea/jarRepositories.xml
  server/.idea/misc.xml
  server/.idea/modules.xml
  server/.idea/modules/deployment.main.iml
  server/.idea/modules/project.main.iml
  server/.idea/uiDesigner.xml
  server/.idea/vcs.xml
  server/.idea/workspace.xml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

gitlab-ci 추가
  .gitlab-ci.yml
Due: none

Deleted .idea/inspectionProfiles/Project_Default.xml, .idea/.gitignore, .idea/S11P21C108.iml, .idea/misc.xml, .idea/modules.xml, .idea/vcs.xml
  .idea/.gitignore
  .idea/S11P21C108.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Due: none

Squashed 'config/' changes from f6dfb14..5badd03
  user-service-prod.yml
Due: none

Squashed 'tunneling/' changes from b644e61..8d9bd87
  main.py
Due: none

Squashed 'client/' changes from ec44119..288c6da
  client/src/apis/project/useGetLog.ts
  client/src/apis/project/useGetProjectToLog.ts
  client/src/app/dashboard/DoughnutChart.tsx
  client/src/app/dashboard/page.tsx
  client/src/app/projects/[id]/components/DeploymentStatus.tsx
  client/src/app/projects/[id]/components/ProjectContent.tsx
  client/src/utils/getDate.ts
  client/src/utils/getISODate.ts
Due: none

Squashed 'config/' changes from 5badd03..d2ecfd6
  compute-service.yml
Due: none

Squashed 'server/' changes from 95302c0..80c9119
  Jenkinsfile
Due: none

Squashed 'server/' changes from 80c9119..805ed2c
  Jenkinsfile
Due: none

Squashed 'server/' changes from 805ed2c..a12b540
  Jenkinsfile
Due: none

Squashed 'server/' changes from a12b540..5ec8c87
  .idea/workspace.xml
  Jenkinsfile
Due: none

Squashed 'electron/' changes from 228e651..33cae74
  front-app/electron/loading.html
  front-app/electron/main.ts
  front-app/electron/managers/dockerManager.ts
  front-app/electron/managers/githubManager.ts
  front-app/electron/preload.ts
  front-app/package.json
  front-app/public/ttalkak.ico
  front-app/src/App.tsx
  front-app/src/axios/constants.tsx
  front-app/src/components/Footer.tsx
  front-app/src/components/Header.tsx
  front-app/src/components/OverlayPanel.tsx
  front-app/src/components/SideNavBar.tsx
  front-app/src/components/ui/tabs.tsx
  front-app/src/features/dashboard/ContainerList.tsx
  front-app/src/features/dashboard/ImageList.tsx
  front-app/src/features/home/CpuStatusItem.tsx
  front-app/src/features/home/DockerInstallPrompt.tsx
  front-app/src/features/home/PaymentStatusItem.tsx
  front-app/src/main.tsx
  front-app/src/pages/DashBoard.tsx
  front-app/src/pages/Home.tsx
  front-app/src/stores/deploymentDetailsStore.tsx
  front-app/src/utils/dockerEventListner.ts
  front-app/src/utils/sendUpdateUtils.ts
  front-app/src/utils/serviceUtils.ts
  front-app/src/utils/stompClientUtils.ts
  front-app/src/utils/stompService.ts
  front-app/tailwind.config.js
Due: none

Squashed 'server/' changes from 5ec8c87..5b665c3
  .github/workflows/sync-action.yml
  .idea/workspace.xml
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetElasticSearchInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetLLInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/GetLLMUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/ProjectElasticAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/SearchResponseConverter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ElasticSearchController.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/AIMonitoringResponse.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/MonitoringInfoResponse.java
  project-service/src/main/resources/application.yml
Due: Test Project Service, documentation, Build and Deploy Project Service

Squashed 'client/' changes from 288c6da..4c59c3f
  client/src/apis/project/useGetProject.ts
  client/src/app/dashboard/components/DoughnutChart.tsx
  client/src/app/dashboard/page.tsx
  client/src/app/projects/[id]/components/ProjectContent.tsx
  client/src/utils/getDate.ts
Due: none

Squashed 'server/' changes from 5b665c3..20c5a6f
  project-service/src/main/resources/application.yml
Due: Test Project Service, documentation, Build and Deploy Project Service

Squashed 'config/' changes from d2ecfd6..3c27b70
  application-prod.yml
Due: none

Squashed 'server/' changes from 969c113..549bfc3
  eureka-server/src/main/kotlin/kr/kro/ddalkak/eureka/EurekaServerApplication.kt
Due: Build and Deploy Eureka Server

Squashed 'server/' changes from ab66edf..18e7cb6
  config-server/Dockerfile
  gateway-service/Dockerfile
Due: Build and Deploy Config Server, Build and Deploy Gateway Service

Squashed 'server/' changes from 18e7cb6..bbfe7c6
  compute-service/Dockerfile
  deployment-service/Dockerfile
  notification-service/Dockerfile
  project-service/Dockerfile
  user-service/Dockerfile
Due: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Notification Server, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Path conditions:
  Test User Service: any of: user-service/**
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: ((any of: deployment-service/**) or (any of: project-service/**)) or (any of: user-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**
