Repository sgo722/ttalkak: changes, and which Jenkins stages are due for each by the changed paths.
All: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Test User Service:
                      steps {
                          script {
                              sh """
                              cd user-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

Test Deployment Service:
                      steps {
                          script {
                              sh """
                              cd deployment-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

Test Project Service:
                      steps {
                          script {
                              sh """
                              cd project-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

documentation:
              steps {
                  sh """
                  docker ps -q --filter "name=document-service" | xargs -r docker stop
                  docker ps -aq --filter "name=document-service" | xargs -r docker rm
  ...

Build and Deploy Eureka Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop eureka-server || true
                              docker-compose -f docker-compose-prod.yml rm -f eureka-server || true
  ...

Build and Deploy Config Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop config-server || true
                              docker-compose -f docker-compose-prod.yml rm -f config-server || true
  ...

Build and Deploy Notification Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop notification-service || true
  ...

Build and Deploy Gateway Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop gateway-service || true
                              docker-compose -f docker-compose-prod.yml rm -f gateway-service || true
  ...

Build and Deploy User Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop user-service || true
                              docker-compose -f docker-compose-prod.yml rm -f user-service || true
  ...

Squashed 'server/' changes from 0b69c41..1125a1b
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/ComputeSocketController.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/request/ComputeConnectRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/ComputeStatusUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/StatusUpdateCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from 1125a1b..e65e1fa
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/AddComputeCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/ComputeStatusUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from e65e1fa..ec537dc
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/DeploymentCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/RunningCacheRepository.kt
Due: Build and Deploy Compute Service

Squashed 'electron/' changes from 16b01be9..8bb4a008
  front-app/src/features/port/parseInboundRule.tsx
  front-app/src/services/websocket/sendComputeConnect.ts
Due: none

Squashed 'server/' changes from ec537dc..28faab2
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/DeploymentCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/RunningCacheRepository.kt
Due: Build and Deploy Compute Service

Squashed 'electron/' changes from 8bb4a008..56dcb431
  front-app/LICENSE.txt
  front-app/electron/main.ts
  front-app/package.json
  front-app/src/components/SideNavBar.tsx
  front-app/src/pages/Home.tsx
  front-app/src/services/deployments/buildHandler/buildBackHandler.ts
  front-app/src/services/deployments/buildHandler/buildDeployHandler.ts
  front-app/src/services/deployments/buildHandler/buildFrontHandler.ts
  front-app/src/services/deployments/buildHandler/buildProcessHandler.ts
  front-app/src/services/deployments/buildHandler/deploymentUtils.ts
  front-app/src/services/deployments/deployCommandHandler.ts
  front-app/src/services/deployments/dockerEventListner.ts
  front-app/src/services/deployments/terminateAllDeployments.ts
  front-app/src/services/stopAllFunction.ts
  front-app/src/services/storeHandler/deployDetailHandler.ts
  front-app/src/services/storeHandler/dockerStateHandler.ts
  front-app/src/services/websocket/sendComputeConnect.ts
  front-app/src/services/websocket/sendCurrentState.ts
  front-app/src/stores/appStatusStore.tsx
  front-app/src/stores/deploymentDetailsStore.tsx
  front-app/src/stores/deploymentStore.tsx
  front-app/src/stores/dockerStore.tsx
Due: none

Squashed 'server/' changes from 28faab2..6fc46c5
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from 6fc46c5..c74bb38
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/HostingAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentWebHookController.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from c74bb38..50c4add
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
  compute-service/src/main/resources/application.yml
  gateway-service/src/main/resources/application.yml
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/web/request/SignUpRequest.java
Due: Test User Service, documentation, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service

Squashed 'electron/' changes from 56dcb431..0f876f58
  front-app/src/services/stopAllFunction.ts
Due: none

Squashed 'server/' changes from 50c4add..048b030
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 048b030..636c3ca
  .idea/workspace.xml
  compute-service/Dockerfile.prod
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  docker-compose-prod.yml
Due: Test Deployment Service, documentation, Build and Deploy Compute Service, Build and Deploy Deployment Service

Squashed 'server/' changes from 636c3ca..ba857eb
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/DatabaseEvent.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'client/' changes from 03c8cab..b6e8184
  client/src/app/deploy/form/components/BackendForm.tsx
  client/src/app/deploy/form/components/FrontendForm.tsx
  client/src/app/projects/[id]/components/DeploymentStatus.tsx
  client/src/types/deploy.ts
Due: none

Squashed 'server/' changes from ba857eb..8c949ca
  deployment-service/src/main/java/com/ttalkak/deployment/common/BaseEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 8c949ca..b5d6df3
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'client/' changes from b6e81847..177a80d1
  client/src/app/deploy/[id]/page.tsx
  client/src/app/deploy/form/components/BackendForm.tsx
  client/src/types/deploy.ts
Due: none

Squashed 'server/' changes from b5d6df3..ef1058b
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from ef1058b..655d365
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 655d365..a49dd51
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from a49dd51..3d10d9b
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/Database.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DockerContainer.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from 3d10d9b..439f7d7
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'client/' changes from 177a80d1..8b8b12b9
  client/src/app/deploy/[id]/page.tsx
Due: none

Path conditions:
  Test User Service: any of: user-service/**
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: ((any of: deployment-service/**) or (any of: project-service/**)) or (any of: user-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**
