Repository sgo722/ttalkak: changes, and which Jenkins stages are due for each by the changed paths.
All: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Test User Service:
                      steps {
                          script {
                              sh """
                              cd user-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

Test Deployment Service:
                      steps {
                          script {
                              sh """
                              cd deployment-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

Test Project Service:
                      steps {
                          script {
                              sh """
                              cd project-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

documentation:
              steps {
                  sh """
                  docker ps -q --filter "name=document-service" | xargs -r docker stop
                  docker ps -aq --filter "name=document-service" | xargs -r docker rm
  ...

Build and Deploy Eureka Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop eureka-server || true
                              docker-compose -f docker-compose-prod.yml rm -f eureka-server || true
  ...

Build and Deploy Config Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop config-server || true
                              docker-compose -f docker-compose-prod.yml rm -f config-server || true
  ...

Build and Deploy Notification Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop notification-service || true
  ...

Build and Deploy Gateway Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop gateway-service || true
                              docker-compose -f docker-compose-prod.yml rm -f gateway-service || true
  ...

Build and Deploy User Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop user-service || true
                              docker-compose -f docker-compose-prod.yml rm -f user-service || true
  ...

Squashed 'server/' changes from 4e653290..14d8f2f6
  contract-service/package-lock.json
  contract-service/package.json
  contract-service/prisma/schema.prisma
  contract-service/src/payment/payment.controller.ts
  contract-service/src/payment/payment.service.ts
Due: none

Squashed 'client/' changes from 204db332..c42c41d1
  client/src/apis/database/useCreateDatabase.ts
  client/src/apis/database/useGetDatabases.ts
  client/src/apis/database/useModifyDatabase.ts
  client/src/app/database/[id]/page.tsx
  client/src/app/database/components/DatabaseModal.tsx
  client/src/app/database/error.tsx
  client/src/app/database/page.tsx
  client/src/app/deploy/[id]/page.tsx
  client/src/types/database.ts
  client/src/utils/getDatabaseIcons.ts
Due: none

Squashed 'electron/' changes from f264675a..21ab36f0
  front-app/src/features/dashboard/ContainerList.tsx
  front-app/src/pages/Home.tsx
Due: none

Squashed 'server/' changes from 14d8f2f6..1cac50e2
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'electron/' changes from 21ab36f0..c967a514
  front-app/src/stores/dockerStore.tsx
Due: none

Squashed 'server/' changes from 1cac50e2..1a1a4d0d
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDatabaseUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/inquiryUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DatabaseDetailResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DatabasePageResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DatabasePreviewResponse.java
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'electron/' changes from c967a514..bea765d7
  front-app/src/services/deployments/buildHandler/buildDeployHandler.ts
  front-app/src/services/deployments/buildHandler/buildImageHandler.ts
  front-app/src/services/deployments/buildHandler/buildProcessHandler.ts
  front-app/src/services/deployments/buildHandler/deploymentUtils.ts
Due: none

Squashed 'server/' changes from 1a1a4d0d..9e6fcbfe
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/CreateDatabaseEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/CreateInstanceEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/DeleteDatabaseEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/DeleteEventProducer.java
  deployment-service/src/main/resources/application.yml
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 9e6fcbfe..a9c44dec
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'client/' changes from c42c41d1..f65b2065
  client/src/app/database/page.tsx
  client/src/app/deploy/[id]/page.tsx
  client/src/app/projects/[id]/components/DeploymentStatus.tsx
  client/src/hooks/useStatusColor.tsx
  client/src/types/database.ts
  client/src/types/deploy.ts
Due: none

Squashed 'electron/' changes from bea765d7..5beee257
  front-app/electron/managers/dockerDBManager.ts
  front-app/src/services/deployments/buildHandler/buildDatabaseHandler.ts
  front-app/src/services/deployments/buildHandler/buildDeployHandler.ts
  front-app/src/services/deployments/buildHandler/buildImageHandler.ts
  front-app/src/services/deployments/buildHandler/buildProcessHandler.ts
  front-app/src/services/deployments/deployCommandHandler.ts
  front-app/src/services/deployments/pgrokHandler.ts
  front-app/src/services/startService.ts
  front-app/src/services/stompClientService.ts
  front-app/src/stores/databaseStore.tsx
  front-app/src/stores/deploymentStore.tsx
  front-app/src/types/global.d.ts
Due: none

Squashed 'server/' changes from a9c44dec..cf0e9051
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/UpdateComputeStatusEvent.kt
  contract-service/.env.production
  contract-service/contracts/build/contracts/Context.json
  contract-service/contracts/build/contracts/IERC1155Errors.json
  contract-service/contracts/build/contracts/IERC20Errors.json
  contract-service/contracts/build/contracts/IERC721Errors.json
  contract-service/contracts/build/contracts/PaymentContract.json
  contract-service/contracts/truffle-config.js
  contract-service/prisma/schema.prisma
  contract-service/src/common/exception/error.code.ts
  contract-service/src/contracts/PaymentContract.d.ts
  contract-service/src/payment/payment.controller.ts
  contract-service/src/payment/payment.service.ts
Due: Build and Deploy Compute Service

Squashed 'client/' changes from f65b2065..b5417f96
  client/package-lock.json
  client/package.json
  client/src/apis/database/useDeleteDatabase.ts
  client/src/app/database/[id]/page.tsx
  client/src/app/database/components/CreateModal.tsx
  client/src/app/database/components/DetailModal.tsx
  client/src/app/database/page.tsx
  client/tailwind.config.ts
Due: none

Squashed 'electron/' changes from 5beee257..d17bac6d
  front-app/electron/managers/dockerImageManager.ts
  front-app/electron/managers/filemanager/dockerFileMaker.ts
  front-app/electron/managers/filemanager/downloadManager.ts
Due: none

Squashed 'server/' changes from cf0e9051..76d78963
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/ComputeSocketController.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/request/DeploymentStatusRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeUpdateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/DeploymentCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/DeploymentCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/RunningCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/DeploymentCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/LoadRunningUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/LoadRunningPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/RemoveDeploymentStatusPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/RemoveRunningPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/SaveDeploymentStatusPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/SaveRunningPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
  contract-service/contracts/build/contracts/ERC165.json
  contract-service/contracts/build/contracts/ERC721.json
  contract-service/contracts/build/contracts/ERC721URIStorage.json
  contract-service/contracts/build/contracts/IERC165.json
  contract-service/contracts/build/contracts/IERC20.json
  contract-service/contracts/build/contracts/IERC4906.json
  contract-service/contracts/build/contracts/IERC721.json
  contract-service/contracts/build/contracts/IERC721Metadata.json
  contract-service/contracts/build/contracts/IERC721Receiver.json
  contract-service/contracts/build/contracts/Math.json
  contract-service/contracts/build/contracts/SignedMath.json
  contract-service/contracts/build/contracts/SourceCodeToken.json
  contract-service/contracts/build/contracts/Strings.json
  contract-service/src/contracts/PaymentContract.json
Due: Build and Deploy Compute Service

Squashed 'electron/' changes from d17bac6d..dae0411e
  front-app/LICENSE.txt
  front-app/electron/deployments.db
  front-app/electron/ipc/ipcHandlers.ts
  front-app/electron/main.ts
  front-app/electron/managers/dockerImageManager.ts
  front-app/electron/managers/dockerLogsManager.ts
  front-app/electron/managers/filemanager/dockerFileHtmlPermission.ts
  front-app/electron/managers/pgrokManager.ts
  front-app/package-lock.json
  front-app/package.json
  front-app/src/features/dashboard/ContainerList.tsx
  front-app/src/features/dashboard/ContainerLogs.tsx
  front-app/src/features/dashboard/ImageList.tsx
  front-app/src/pages/DashBoard.tsx
  front-app/src/pages/Home.tsx
  front-app/src/services/deployments/buildHandler/buildDatabaseHandler.ts
  front-app/src/services/deployments/buildHandler/buildProcessHandler.ts
  front-app/src/services/deployments/buildHandler/deploymentUtils.ts
  front-app/src/services/deployments/deployCommandHandler.ts
  front-app/src/services/deployments/dockerEventListner.ts
  front-app/src/services/deployments/dockerUtils.ts
  front-app/src/services/deployments/pgrokHandler.ts
  front-app/src/services/deployments/terminateAllDatabases.ts
  front-app/src/services/deployments/terminateAllDeployments.ts
  front-app/src/services/monitoring/cpuUsageListner.ts
  front-app/src/services/monitoring/healthCheckPingUtils.ts
  front-app/src/services/startService.ts
  front-app/src/services/stopAllFunction.ts
  front-app/src/services/storeHandler/dockerStateHandler.ts
  front-app/src/services/websocket/sendComputeConnect.ts
  front-app/src/services/websocket/sendCurrentState.ts
  front-app/src/stores/appStatusStore.tsx
  front-app/src/stores/cpuStore.tsx
  front-app/src/stores/databaseStore.tsx
  front-app/src/types/global.d.ts
Due: none

Squashed 'server/' changes from 76d78963..337f3cdd
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/DatabaseCreateSocketListener.kt
Due: Build and Deploy Compute Service

Squashed 'electron/' changes from dae0411e..0d16f673
  front-app/electron/managers/dockerImageManager.ts
  front-app/electron/managers/pgrokManager.ts
  front-app/package-lock.json
  front-app/package.json
  front-app/src/features/dashboard/ContainerList.tsx
  front-app/src/services/deployments/buildHandler/buildDatabaseHandler.ts
Due: none

Squashed 'server/' changes from 337f3cdd..a577a7db
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'client/' changes from a28ae011..6c578337
  client/src/app/database/components/DetailModal.tsx
  client/src/app/deploy/create/[type]/components/githubRepos.tsx
  client/src/app/deploy/form/components/DeploymentForm.tsx
  client/src/app/project/[id]/components/ProjectContent.tsx
Due: none

Squashed 'server/' changes from a577a7db..1aa7b846
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/DeploymentAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/DeploymentRepository.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentUpdateStatusRequest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'client/' changes from 6c578337..1be394f8
  client/src/app/auth/callback/page.tsx
  client/src/app/project/[id]/components/ProjectContent.tsx
  client/src/components/NoData.tsx
  client/tailwind.config.ts
Due: none

Squashed 'server/' changes from 1aa7b846..21e9917f
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentUpdateStatusRequest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 21e9917f..e43a2ea9
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DeploymentEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCommandStatusRequest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'client/' changes from 1be394f8..8fb346de
  client/src/app/auth/callback/page.tsx
  client/tailwind.config.ts
Due: none

Squashed 'electron/' changes from 0d16f673..b28d1958
  front-app/electron/dockerManager.ts
  front-app/electron/ipc/ipcHandlers.ts
  front-app/electron/main.ts
  front-app/electron/managers/dockerContainerManager.ts
  front-app/electron/managers/dockerDBManager.ts
  front-app/electron/managers/dockerEventManager.ts
  front-app/electron/managers/dockerImageManager.ts
  front-app/electron/managers/pgrokManager.ts
  front-app/electron/preload.ts
  front-app/src/services/deployments/buildHandler/buildImageHandler.ts
  front-app/src/services/deployments/deployCommandHandler.ts
  front-app/src/services/websocket/sendCurrentState.ts
  front-app/src/services/websocket/sendUpdateUtils.ts
  front-app/src/types/global.d.ts
Due: none

Squashed 'server/' changes from e43a2ea9..f4bc118e
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/ComputeSocketController.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/request/ComputeRunningRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeUpdateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/DatabaseCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/web/ComputeController.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeAllocateCachePersistence.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/entity/ComputeAllocateCache.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/feign/ContractFeignClient.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/feign/request/ContractSignRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/persistence/StatusPersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/persistence/entity/StatusEntity.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/persistence/entity/StatusMapper.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/AddComputeCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/ContractSignUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/StatusCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/UpdateStatusUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/CreateAllocatePort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/SaveStatusPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ContractService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/StatusService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeCreate.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeCreateEvent.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DatabaseCreateEvent.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/UserCreateEvent.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/UserStatus.kt
  contract-service/src/payment/payment.controller.ts
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/web/AuthController.java
  user-service/src/main/java/com/ttalkak/user/user/adapter/in/web/request/SignUpRequest.java
  user-service/src/main/java/com/ttalkak/user/user/application/port/in/RegisterCommand.java
  user-service/src/main/java/com/ttalkak/user/user/application/service/AuthenticationService.java
  user-service/src/main/java/com/ttalkak/user/user/application/service/CustomOAuth2UserService.java
  user-service/src/main/java/com/ttalkak/user/user/domain/UserCreateEvent.java
Due: Test User Service, documentation, Build and Deploy User Service, Build and Deploy Compute Service

Path conditions:
  Test User Service: any of: user-service/**
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: ((any of: deployment-service/**) or (any of: project-service/**)) or (any of: user-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**
