Repository sgo722/ttalkak: changes, and which Jenkins stages are due for each by the changed paths.
All: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Test User Service:
                      steps {
                          script {
                              sh """
                              cd user-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

Test Deployment Service:
                      steps {
                          script {
                              sh """
                              cd deployment-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

Test Project Service:
                      steps {
                          script {
                              sh """
                              cd project-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

documentation:
              steps {
                  sh """
                  docker ps -q --filter "name=document-service" | xargs -r docker stop
                  docker ps -aq --filter "name=document-service" | xargs -r docker rm
  ...

Build and Deploy Eureka Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop eureka-server || true
                              docker-compose -f docker-compose-prod.yml rm -f eureka-server || true
  ...

Build and Deploy Config Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop config-server || true
                              docker-compose -f docker-compose-prod.yml rm -f config-server || true
  ...

Build and Deploy Notification Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop notification-service || true
  ...

Build and Deploy Gateway Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop gateway-service || true
                              docker-compose -f docker-compose-prod.yml rm -f gateway-service || true
  ...

Build and Deploy User Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop user-service || true
                              docker-compose -f docker-compose-prod.yml rm -f user-service || true
  ...

Squashed 'server/' changes from 125b918..577a942
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDockerFileInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDockerFileInputPortRegacy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDockerFileUsecaseRegacy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDockerfileUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/CreateInstanceEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DeploymentEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/vo/DeploymentStatus.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/CreateDockerFileUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCreateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DockerfileCreateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DockerfileCreateRequestRegacy.java
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'electron/' changes from cb5ff9c..f1e0b62
  front-app/electron/loading.html
  front-app/electron/main.ts
  front-app/electron/managers/dockerFileManager.ts
  front-app/electron/managers/dockerLogsManager.ts
  front-app/electron/managers/githubManager.ts
  front-app/electron/managers/pgrokManager.ts
  front-app/electron/preload.ts
  front-app/src/features/dashboard/ContainerLogs.tsx
  front-app/src/services/startService.ts
  front-app/src/services/stompService.ts
  front-app/src/stores/deploymentDetailsStore.tsx
  front-app/src/types/global.d.ts
  front-app/src/utils/containerCommandHandler.ts
  front-app/src/utils/dockerEventListner.ts
Due: none

Squashed 'server/' changes from 577a942..c908c58
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeCreateEvent.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/RunningStatus.kt
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DeploymentEntity.java
Due: Test Deployment Service, documentation, Build and Deploy Compute Service, Build and Deploy Deployment Service

Squashed 'server/' changes from c908c58..7ca97b6
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDockerFileInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCreateRequest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'client/' changes from 3ce4ad9..838d7dd
  client/src/apis/deploy/useGetMonitoring.ts
  client/src/apis/project/useGetLog.ts
  client/src/app/dashboard/_hooks/useTypingAnimation.tsx
  client/src/app/dashboard/components/Monitoring.tsx
  client/src/app/dashboard/page.tsx
  client/src/types/dashboard.ts
Due: none

Squashed 'server/' changes from 7ca97b6..7886bd2
  project-service/build.gradle
  project-service/src/main/java/com/ttalkak/project/common/error/ErrorCode.java
  project-service/src/main/java/com/ttalkak/project/config/RedisConfig.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/DeleteProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetElasticSearchInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetLLInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/UpdateProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/outputport/LoadRedidMonitoringOutputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/DeleteProjectUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/GetElasticSearchUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/GetLLMUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/GetProjectUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/UpdateProjectUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/ProjectElasticAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/redisadapter/adapter/RedisAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ElasticSearchController.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ProjectController.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/DashBoardHistogramResponse.java
  project-service/src/test/java/com/ttalkak/project/project/framework/web/ProjectControllerTest.java
Due: Test Project Service, documentation, Build and Deploy Project Service

Squashed 'client/' changes from 838d7dd..c30a957
  client/src/apis/deploy/useGetHistogram.ts
  client/src/app/dashboard/page.tsx
  client/src/types/dashboard.ts
Due: none

Squashed 'server/' changes from 7886bd2..ee69dd7
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetProjectInputPort.java
Due: Test Project Service, documentation, Build and Deploy Project Service

Squashed 'server/' changes from ee69dd7..2cff1a8
  Jenkinsfile
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCreateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DockerfileCreateRequest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'client/' changes from c30a957..02bae70
  client/src/app/deploy/create/[type]/components/githubRepos.tsx
  client/src/store/useDeployStore.ts
  client/src/types/deploy.ts
  client/src/types/repo.ts
Due: none

Squashed 'server/' changes from 2cff1a8..6ff1e52
  .idea/workspace.xml
  deployment-service/build.gradle
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCreateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DockerfileCreateRequest.java
  project-service/gradle.properties
  project-service/src/main/java/com/ttalkak/project/config/RedisConfig.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetElasticSearchInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetLLInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/outputport/LoadRedidMonitoringOutputPort.java
  project-service/src/main/java/com/ttalkak/project/project/domain/model/redis/Monitoring.java
  project-service/src/main/java/com/ttalkak/project/project/framework/redisadapter/adapter/RedisAdapter.java
Due: Test Deployment Service, Test Project Service, documentation, Build and Deploy Deployment Service, Build and Deploy Project Service

Squashed 'client/' changes from 02bae70..5d7ed71
  client/src/app/deploy/form/components/BackendForm.tsx
  client/src/app/deploy/form/components/FrontendForm.tsx
  client/src/types/deploy.ts
Due: none

Squashed 'server/' changes from 6ff1e52..5fac079
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/vo/DeploymentStatus.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 5fac079..7dc2816
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetElasticSearchInputPort.java
Due: Test Project Service, documentation, Build and Deploy Project Service

Squashed 'server/' changes from 7dc2816..94b8ba4
  project-service/Dockerfile
  project-service/gradle.properties
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetLLInputPort.java
Due: Test Project Service, documentation, Build and Deploy Project Service

Squashed 'server/' changes from 94b8ba4..b6591a3
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/ComputeSocketController.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/request/ComputeStatusRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/web/request/UpdateStatusRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/entity/ComputeUserCache.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/AllocateCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/ConnectCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/StatusCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/SaveComputePort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeCreateEvent.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeUser.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/Database.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DatabaseContainer.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DockerContainer.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/Environment.kt
  contract-service/contracts/build/contracts/PaymentContract.json
  contract-service/contracts/contracts/PaymentContract.sol
  contract-service/contracts/contracts/SourceCodeNFT.sol
Due: Build and Deploy Compute Service

Squashed 'client/' changes from 5d7ed71..456c5f5
  client/src/app/dashboard/components/HistogramChart.tsx
  client/src/app/dashboard/page.tsx
Due: none

Squashed 'electron/' changes from f1e0b62..d900c68
  front-app/electron/dockerManager.ts
  front-app/electron/ipc/ipcHandlers.ts
  front-app/electron/main.ts
  front-app/electron/managers/dockerContainerManager.ts
  front-app/electron/managers/dockerDBManager.ts
  front-app/electron/managers/dockerEventManager.ts
  front-app/electron/managers/dockerFileManager.ts
  front-app/electron/managers/dockerImageManager.ts
  front-app/electron/managers/dockerLogsManager.ts
  front-app/electron/managers/dockerManager.ts
  front-app/electron/managers/dockerStatusManager.ts
  front-app/electron/managers/dockerUtils.ts
  front-app/electron/managers/githubManager.ts
  front-app/electron/utils.ts
  front-app/index.html
  front-app/src/components/Footer.tsx
  front-app/src/services/startService.ts
  front-app/src/services/stompService.ts
  front-app/src/stores/deploymentStore.tsx
  front-app/src/types/global.d.ts
  front-app/src/utils/deploymentRemoveUtils.ts
  front-app/src/utils/dockerCommandHandler.ts
  front-app/src/utils/dockerEventListner.ts
  front-app/vite.config.ts
Due: none

Squashed 'server/' changes from b6591a3..748a51c
  .idea/workspace.xml
  deployment-service/Dockerfile
  deployment-service/gradle.properties
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/DatabaseEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DatabaseCreateRequest.java
  project-service/build.gradle
  project-service/gradle.properties
  project-service/src/main/java/com/ttalkak/project/config/RedisConfig.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetLLInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/outputport/LoadRedisMonitoringOutputPort.java
  project-service/src/main/java/com/ttalkak/project/project/framework/redisadapter/adapter/RedisAdapter.java
Due: Test Deployment Service, Test Project Service, documentation, Build and Deploy Deployment Service, Build and Deploy Project Service

Squashed 'server/' changes from 748a51c..fa1c805
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/persistence/entity/StatusMapper.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/UserStatus.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from fa1c805..816272d
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetLLInputPort.java
Due: Test Project Service, documentation, Build and Deploy Project Service

Squashed 'server/' changes from 816272d..d9f5e7d
  compute-service/src/main/kotlin/com/ttalkak/compute/ComputeServiceApplication.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/SocketSubscribeEventListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ConnectCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ConnectCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/ConnectUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/DisconnectScheduleUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/LoadConnectPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/RemoveConnectPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ConnectService.kt
  contract-service/contracts/truffle-config.js
Due: Build and Deploy Compute Service

Squashed 'server/' changes from d9f5e7d..8d7fc7b
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/LoadConnectPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ConnectService.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from 8d7fc7b..e817da3
  Jenkinsfile
  eureka-server/Dockerfile
Due: Build and Deploy Eureka Server

Path conditions:
  Test User Service: any of: user-service/**
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: ((any of: deployment-service/**) or (any of: project-service/**)) or (any of: user-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**
