Repository sgo722/ttalkak: changes, and which Jenkins stages are due for each by the changed paths.
All: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Test User Service:
                      steps {
                          script {
                              sh """
                              cd user-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

Test Deployment Service:
                      steps {
                          script {
                              sh """
                              cd deployment-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

Test Project Service:
                      steps {
                          script {
                              sh """
                              cd project-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

documentation:
              steps {
                  sh """
                  docker ps -q --filter "name=document-service" | xargs -r docker stop
                  docker ps -aq --filter "name=document-service" | xargs -r docker rm
  ...

Build and Deploy Eureka Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop eureka-server || true
                              docker-compose -f docker-compose-prod.yml rm -f eureka-server || true
  ...

Build and Deploy Config Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop config-server || true
                              docker-compose -f docker-compose-prod.yml rm -f config-server || true
  ...

Build and Deploy Notification Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop notification-service || true
  ...

Build and Deploy Gateway Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop gateway-service || true
                              docker-compose -f docker-compose-prod.yml rm -f gateway-service || true
  ...

Build and Deploy User Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop user-service || true
                              docker-compose -f docker-compose-prod.yml rm -f user-service || true
  ...

Squashed 'server/' changes from bbfe7c6..b3cc896
  gateway-service/Dockerfile
Due: Build and Deploy Gateway Service

Squashed 'server/' changes from b3cc896..61f1245
  project-service/src/main/resources/application.yml
Due: Test Project Service, documentation, Build and Deploy Project Service

Squashed 'config/' changes from 3c27b70..e19a2ec
  application-prod.yml
  deployment-service-prod.yml
Due: none

Squashed 'server/' changes from 61f1245..528ae24
  deployment-service/build.gradle
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDockerFileInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/CreateDockerFileUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DockerfileCreateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DockerFileResponse.java
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'client/' changes from 4c59c3f..9007287
  client/src/apis/deploy/useModifyDeployStatus.ts
  client/src/apis/project/useGetProjects.ts
  client/src/app/projects/[id]/components/ProjectContent.tsx
  client/src/app/projects/[id]/error.tsx
  client/src/app/projects/[id]/loading.tsx
  client/src/app/projects/[id]/page.tsx
  client/src/app/projects/error.tsx
  client/src/app/projects/page.tsx
  client/src/components/Footer.tsx
  client/src/providers/ReactQueryProvider.tsx
  client/src/types/errorType.ts
Due: none

Squashed 'config/' changes from e19a2ec..4b9fb2a
  project-service-dev.yml
Due: none

Squashed 'config/' changes from 4b9fb2a..4c46321
  project-service-prod.yml
Due: none

Squashed 'server/' changes from 528ae24..b32c036
  project-service/build.gradle
  project-service/src/main/java/com/ttalkak/project/config/AWSConfig.java
  project-service/src/main/java/com/ttalkak/project/config/OpenAIConfig.java
  project-service/src/main/java/com/ttalkak/project/config/OpenAIFeignClient.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetLLInputPort.java
  project-service/src/main/resources/application.yml
Due: Test Project Service, documentation, Build and Deploy Project Service

Squashed 'client/' changes from 9007287..2acc828
  client/src/app/projects/page.tsx
  client/src/types/project.ts
Due: none

Squashed 'config/' changes from 4c46321..eb47802
  project-service-dev.yml
  project-service-prod.yml
Due: none

Squashed 'server/' changes from b32c036..1447185
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ElasticSearchController.java
  project-service/src/main/resources/application-dev.yml
Due: Test Project Service, documentation, Build and Deploy Project Service

Squashed 'config/' changes from eb47802..a692cf1
  project-service-dev.yml
  project-service-prod.yml
Due: none

Squashed 'server/' changes from 1447185..0b957d2
  project-service/src/main/resources/application.yml
Due: Test Project Service, documentation, Build and Deploy Project Service

Squashed 'server/' changes from 0b957d2..40aa854
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeUpdateSocketListener.kt
  contract-service/contracts/build/contracts/Context.json
  contract-service/contracts/build/contracts/IERC1155Errors.json
  contract-service/contracts/build/contracts/IERC20Errors.json
  contract-service/contracts/build/contracts/IERC721Errors.json
  contract-service/contracts/build/contracts/PaymentContract.json
  contract-service/contracts/contracts/PaymentContract.sol
  contract-service/contracts/migrations/1_deploy_contracts.js
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Test Deployment Service, documentation, Build and Deploy Compute Service, Build and Deploy Deployment Service

Squashed 'server/' changes from 40aa854..f417a32
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/common/global/error/ErrorCode.java
  deployment-service/src/main/java/com/ttalkak/deployment/config/GithubFeignClient.java
  deployment-service/src/main/java/com/ttalkak/deployment/config/UserFeignClient.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDockerFileInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/GithubOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/UserOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/githubadpater/GithubAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/useradapter/UserAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/useradapter/dto/UserInfoResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/CreateDockerFileUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DockerfileCreateRequest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'electron/' changes from 33cae74..d613f5d
  front-app/electron/main.ts
  front-app/electron/managers/dockerLogsManager.ts
  front-app/electron/managers/dockerManager.ts
  front-app/electron/managers/githubManager.ts
  front-app/electron/preload.ts
  front-app/electron/utils.ts
  front-app/src/axios/constants.tsx
  front-app/src/components/Header.tsx
  front-app/src/components/SideNavBar.tsx
  front-app/src/services/startService.ts
  front-app/src/services/stompService.ts
  front-app/src/stores/deploymentDetailsStore.tsx
  front-app/src/types/global.d.ts
  front-app/src/utils/containerCommandHandler.ts
  front-app/src/utils/deploymentRemoveUtils.ts
  front-app/src/utils/dockerEventListner.ts
  front-app/src/utils/dockerUtils.ts
  front-app/src/utils/sendUpdateUtils.ts
  front-app/src/utils/stompClientUtils.ts
  front-app/src/utils/stopAllFunctionUtils.ts
Due: none

Squashed 'server/' changes from f417a32..d636362
  .idea/workspace.xml
  deployment-service/.gitignore
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/HostingEntity.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from d636362..9a15d21
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 9a15d21..4e17afa
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 4e17afa..fb1da40
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetElasticSearchInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetLLInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/outputport/LoadElasticSearchOutputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/GetElasticSearchUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/ProjectElasticAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/SearchResponseConverter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ElasticSearchController.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/DashBoardResponse.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/LogHistogramResponse.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/LogPageResponse.java
  project-service/src/main/resources/application-dev.yml
Due: Test Project Service, documentation, Build and Deploy Project Service

Squashed 'client/' changes from 2acc828..ff85676
  client/src/app/dashboard/components/DoughnutChart.tsx
  client/src/app/dashboard/page.tsx
  client/src/app/deploy/create/[type]/components/githubRepos.tsx
  client/src/types/dashboard.ts
Due: none

Squashed 'electron/' changes from d613f5d..67e31f2
  front-app/electron/managers/dockerManager.ts
  front-app/electron/managers/githubManager.ts
  front-app/src/features/dashboard/ContainerLogs.tsx
  front-app/src/pages/DashBoard.tsx
  front-app/src/pages/Home.tsx
  front-app/src/services/stompService.ts
  front-app/src/stores/authStore.tsx
  front-app/src/stores/deploymentDetailsStore.tsx
  front-app/src/utils/containerCommandHandler.ts
  front-app/src/utils/dockerEventListner.ts
Due: none

Squashed 'server/' changes from fb1da40..360e241
  contract-service/contracts/build/contracts/Context.json
  contract-service/contracts/build/contracts/IERC1155Errors.json
  contract-service/contracts/build/contracts/IERC20Errors.json
  contract-service/contracts/build/contracts/IERC721Errors.json
  contract-service/contracts/build/contracts/PaymentContract.json
  contract-service/contracts/contracts/PaymentContract.sol
  contract-service/contracts/contracts/SourceCodeNFT.sol
  contract-service/src/payment/payment.service.ts
Due: none

Squashed 'client/' changes from ff85676..3ce4ad9
  client/src/app/dashboard/components/DoughnutChart.tsx
  client/src/app/dashboard/page.tsx
  client/src/app/deploy/create/[type]/components/githubRepos.tsx
  client/src/utils/getDate.ts
Due: none

Squashed 'electron/' changes from 67e31f2..cb5ff9c
  front-app/electron/main.ts
  front-app/electron/managers/dockerFileManager.ts
  front-app/electron/managers/dockerManager.ts
  front-app/electron/managers/githubManager.ts
  front-app/src/components/Header.tsx
  front-app/src/services/startService.ts
  front-app/src/services/stompService.ts
  front-app/src/utils/dockerEventListner.ts
  front-app/src/utils/healthCheckPingUtils.ts
  front-app/src/utils/stopAllFunctionUtils.ts
Due: none

Squashed 'server/' changes from 360e241..125b918
  compute-service/src/main/kotlin/com/ttalkak/compute/config/StompConfig.kt
Due: Build and Deploy Compute Service

Path conditions:
  Test User Service: any of: user-service/**
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: ((any of: deployment-service/**) or (any of: project-service/**)) or (any of: user-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**
