Repository sgo722/ttalkak: changes, and which Jenkins stages are due for each by the changed paths.
All: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Path conditions:
  Test User Service: any of: user-service/**
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: ((any of: deployment-service/**) or (any of: project-service/**)) or (any of: user-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**

Squashed 'electron/' changes from 0f876f58..c975b2f9
  front-app/src/components/SideNavBar.tsx
  front-app/src/pages/SignUp.tsx
  front-app/tailwind.config.js
Due: none

Squashed 'server/' changes from 439f7d7..a82bf45
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeUpdateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeAllocateCachePersistence.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/entity/ComputeAllocateCache.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/AllocateUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/CreateAllocatePort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from a82bf45..67ef1e7
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 67ef1e7..15ff4bd
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 15ff4bd..dffda9c
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'electron/' changes from c975b2f9..434e5c4b
  front-app/electron/managers/dockerContainerManager.ts
  front-app/index.html
  front-app/src/pages/Home.tsx
  front-app/src/services/deployments/buildHandler/buildDeployHandler.ts
  front-app/src/services/deployments/buildHandler/buildProcessHandler.ts
  front-app/src/services/deployments/deployCommandHandler.ts
  front-app/src/services/storeHandler/dockerStateHandler.ts
  front-app/src/services/websocket/createClient.ts
Due: none

Squashed 'server/' changes from dffda9c..5426218
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 5426218..e14c5c8
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from e14c5c8..1d89145
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from 1d89145..a38c330
  contract-service/prisma/schema.prisma
Due: none

Squashed 'electron/' changes from 434e5c4b..50883a87
  front-app/electron/managers/dockerContainerManager.ts
  front-app/package.json
  front-app/src/axios/auth.tsx
  front-app/src/components/OverlayPanel.tsx
  front-app/src/features/auth/SettingModal.tsx
  front-app/src/services/deployments/buildHandler/buildProcessHandler.ts
  front-app/src/stores/authStore.tsx
  front-app/tailwind.config.js
Due: none

Squashed 'server/' changes from a38c330..3d8daa3
  docker-compose-prod.yml
Due: none

Squashed 'server/' changes from 3d8daa3..2b2a3fb
  contract-service/src/payment/web3.module.ts
Due: none

Squashed 'server/' changes from 2b2a3fb..be0b6fe
  contract-service/src/payment/payment.service.ts
  docker-compose-prod.yml
Due: none

Squashed 'electron/' changes from 50883a87..85dc8808
  front-app/src/features/auth/SettingModal.tsx
  front-app/src/pages/DashBoard.tsx
Due: none

Squashed 'server/' changes from be0b6fe..6f93cb7
  contract-service/package.json
Due: none

Squashed 'server/' changes from 6f93cb7..0ec2219
  gateway-service/src/main/resources/application.yml
Due: Build and Deploy Gateway Service

Squashed 'server/' changes from 0ec2219..d85401e
  contract-service/prisma/schema.prisma
  contract-service/src/payment/payment.controller.ts
  contract-service/src/payment/payment.service.ts
Due: none

Squashed 'electron/' changes from 85dc8808..435d22fe
  front-app/src/components/Footer.tsx
Due: none

Squashed 'server/' changes from d85401e..29a8108
  contract-service/src/payment/payment.controller.ts
Due: none

Squashed 'server/' changes from 29a8108..17deb3a
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'electron/' changes from 435d22fe..daa304ce
  front-app/electron/main.ts
  front-app/electron/managers/dockerDBManager.ts
  front-app/src/components/Footer.tsx
  front-app/src/services/deployments/buildHandler/buildDeployHandler.ts
  front-app/src/services/deployments/buildHandler/buildImageHandler.ts
  front-app/src/services/deployments/buildHandler/buildProcessHandler.ts
  front-app/src/services/deployments/dockerEventListner.ts
  front-app/src/services/deployments/terminateAllDeployments.ts
Due: none

Squashed 'server/' changes from 17deb3a..0926216
  .idea/workspace.xml
  Jenkinsfile
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentDetailResponse.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service
