Repository sgo722/ttalkak: changes, and which Jenkins stages are due for each by the changed paths.
All: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Path conditions:
  Test User Service: any of: user-service/**
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: ((any of: deployment-service/**) or (any of: project-service/**)) or (any of: user-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**

Squashed 'electron/' changes from d900c68..43f16d4
  front-app/electron/managers/githubManager.ts
Due: none

Squashed 'server/' changes from e817da3..8b2b579
  eureka-server/Dockerfile
Due: Build and Deploy Eureka Server

Squashed 'server/' changes from 8b2b579..a801de8
  config-server/Dockerfile
Due: Build and Deploy Config Server

Squashed 'server/' changes from a801de8..b1a2708
  Jenkinsfile
Due: none

Squashed 'server/' changes from b1a2708..c4d04a0
  .idea/workspace.xml
  compute-service/Dockerfile
  deployment-service/Dockerfile
  gateway-service/Dockerfile
  notification-service/Dockerfile
  project-service/Dockerfile
  user-service/Dockerfile
Due: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Squashed 'server/' changes from c4d04a0..d495fbc
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from d495fbc..272c350
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetElasticSearchInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/ProjectElasticAdapter.java
Due: Test Project Service, documentation, Build and Deploy Project Service

Squashed 'server/' changes from 272c350..f2ac5fa
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/ProjectElasticAdapter.java
Due: Test Project Service, documentation, Build and Deploy Project Service

Squashed 'server/' changes from f2ac5fa..ea70850
  project-service/src/main/java/com/ttalkak/project/project/framework/redisadapter/adapter/RedisAdapter.java
Due: Test Project Service, documentation, Build and Deploy Project Service

Squashed 'server/' changes from ea70850..52990a4
  project-service/src/main/java/com/ttalkak/project/project/framework/elasticsearchadpter/adapter/ProjectElasticAdapter.java
Due: Test Project Service, documentation, Build and Deploy Project Service

Squashed 'server/' changes from 52990a4..63ed20c
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 63ed20c..b11c36b
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetLLInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/framework/redisadapter/adapter/RedisAdapter.java
Due: Test Project Service, documentation, Build and Deploy Project Service

Squashed 'server/' changes from b11c36b..a9ada46
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/adapter/in/web/exception/CustomExceptionAdvice.kt
  notification-service/src/main/kotlin/com/ttalkak/notification/notification/domain/ApiResponse.kt
Due: Build and Deploy Notification Server

Squashed 'client/' changes from 456c5f5..bac0ef9
  client/src/app/auth/callback/page.tsx
  client/src/app/deploy/create/[type]/components/githubRepos.tsx
  client/src/app/deploy/form/components/BackendForm.tsx
  client/src/app/deploy/form/components/FrontendForm.tsx
  client/src/types/deploy.ts
Due: none

Squashed 'server/' changes from a9ada46..97d0df2
  .github/workflows/sonarqube.yml
  .github/workflows/sync-action.yml
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 97d0df2..6a0ec45
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetLLInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/outputport/LoadRedisMonitoringOutputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/usecase/GetLLMUseCase.java
  project-service/src/main/java/com/ttalkak/project/project/framework/redisadapter/adapter/RedisAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ElasticSearchController.java
Due: Test Project Service, documentation, Build and Deploy Project Service

Squashed 'server/' changes from 6a0ec45..badabd0
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DatabaseContainer.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DockerContainer.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from badabd0..93e91e0
  .idea/workspace.xml
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/DeploymentCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/entity/DeploymentStatusCache.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputePortCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/DeploymentCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/RunningCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/RemoveDeploymentStatusPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/RemovePortPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/RemoveRunningPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ConnectService.kt
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DeploymentEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/vo/DeploymentStatus.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentUpdateStatusRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentDetailResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentPreviewResponse.java
  project-service/src/main/java/com/ttalkak/project/project/framework/deploymentadapter/dto/DeploymentResponse.java
Due: Test Deployment Service, Test Project Service, documentation, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Squashed 'server/' changes from 93e91e0..3485314
  .idea/workspace.xml
  deployment-service/Dockerfile
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'electron/' changes from 43f16d49..b509ee40
  front-app/electron/dockerManager.ts
  front-app/electron/ipc/ipcHandlers.ts
  front-app/electron/main.ts
  front-app/electron/managers/dockerContainerManager.ts
  front-app/electron/managers/dockerDBManager.ts
  front-app/electron/managers/dockerFileManager.ts
  front-app/electron/managers/dockerImageManager.ts
  front-app/electron/managers/envFileMagnager.ts
  front-app/electron/managers/githubManager.ts
  front-app/electron/preload.ts
  front-app/src/components/Header.tsx
  front-app/src/services/deployments/deployCommandHandler.ts
  front-app/src/services/deployments/dockerBuildHandler.ts
  front-app/src/services/deployments/dockerEventListner.ts
  front-app/src/services/deployments/dockerUtils.ts
  front-app/src/services/deployments/pgrokHandler.ts
  front-app/src/services/deployments/terminateAllDeployments.ts
  front-app/src/services/monitoring/cpuUsageListner.ts
  front-app/src/services/monitoring/healthCheckPingUtils.ts
  front-app/src/services/paymentService.ts
  front-app/src/services/startService.ts
  front-app/src/services/stompClientService.ts
  front-app/src/services/stompService.ts
  front-app/src/services/stopAllFunction.ts
  front-app/src/services/storeHandler/deployDetailHandler.ts
  front-app/src/services/storeHandler/dockerStateHandler.ts
  front-app/src/services/websocket/createClient.ts
  front-app/src/services/websocket/sendComputeConnect.ts
  front-app/src/services/websocket/sendCurrentState.ts
  front-app/src/services/websocket/sendUpdateUtils.ts
  front-app/src/services/websocket/stompClientUtils.ts
  front-app/src/stores/appStatusStore.tsx
  front-app/src/types/global.d.ts
  front-app/src/utils/dockerCommandHandler.ts
  front-app/src/utils/dockerEventListner.ts
Due: none

Squashed 'server/' changes from 3485314..355e75a
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DockerContainer.kt
Due: Build and Deploy Compute Service
