Repository sgo722/ttalkak: changes, and which Jenkins stages are due for each by the changed paths.
All: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Path conditions:
  Test User Service: any of: user-service/**
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: ((any of: deployment-service/**) or (any of: project-service/**)) or (any of: user-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**

Squashed 'server/' changes from 68a8de82..01d7d444
  .idea/workspace.xml
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/domain/model/ProjectEntity.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/response/ProjectPageResponse.java
Due: Test Project Service, documentation, Build and Deploy Project Service

Squashed 'server/' changes from 01d7d444..ef6ea6a2
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/BuildToolStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/CraStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/NpmStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/PackageManagerStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/ViteStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/YarnStrategy.java
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/CreateProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/application/outputport/LoadProjectOutputPort.java
  project-service/src/main/java/com/ttalkak/project/project/framework/jpaadapter/adapter/ProjectPersistenceAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/jpaadapter/repository/ProjectJpaRepository.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ProjectController.java
Due: Test Deployment Service, Test Project Service, documentation, Build and Deploy Deployment Service, Build and Deploy Project Service

Squashed 'client/' changes from 0dd4ed01..7364cef8
  client/src/apis/deploy/useCreateDeploy.ts
  client/src/apis/deploy/useDeleteDeploy.ts
  client/src/apis/deploy/useModifyDeployStatus.ts
  client/src/apis/project/useDeleteProject.ts
  client/src/apis/project/useModifyProject.ts
  client/src/app/deploy/create/[type]/components/githubRepos.tsx
  client/src/app/deploy/form/components/DeploymentForm.tsx
  client/src/app/guide/desktopinfo/page.tsx
  client/src/types/deploy.ts
Due: none

Squashed 'electron/' changes from ef40d74b..eeed7832
  front-app/electron/ipc/ipcHandlers.ts
  front-app/electron/main.ts
  front-app/electron/preload.ts
  front-app/package-lock.json
  front-app/package.json
  front-app/src/axios/constants.tsx
  front-app/src/features/auth/SettingModal.tsx
  front-app/src/features/home/CpuStatusItem.tsx
  front-app/src/services/startService.ts
  front-app/src/services/stompClientService.ts
  front-app/src/types/global.d.ts
Due: none

Squashed 'server/' changes from ef6ea6a2..b85676cc
  contract-service/src/payment/payment.service.ts
Due: none

Update README.md
  README.md
Due: none
