Repository sgo722/ttalkak: changes, and which Jenkins stages are due for each by the changed paths.
All: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Path conditions:
  Test User Service: any of: user-service/**
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: ((any of: deployment-service/**) or (any of: project-service/**)) or (any of: user-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**

Squashed 'electron/' changes from daa304ce..8e86c34d
  front-app/electron/ipc/ipcHandlers.ts
  front-app/electron/managers/dockerContainerManager.ts
  front-app/electron/managers/dockerDBManager.ts
  front-app/electron/preload.ts
  front-app/src/pages/Home.tsx
  front-app/src/services/deployments/buildHandler/buildDeployHandler.ts
  front-app/src/services/deployments/buildHandler/buildImageHandler.ts
  front-app/src/services/deployments/buildHandler/buildProcessHandler.ts
  front-app/src/types/global.d.ts
Due: none

Squashed 'server/' changes from 0926216..05238af
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'tunneling/' changes from 8d9bd87..59c506f
  core/base.py
  core/models.py
  core/schemas.py
  main.py
Due: none

Squashed 'server/' changes from 05238af..eb1cff4
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeUpdateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeAllocateCachePersistence.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/entity/ComputeAllocateCache.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/AddComputeCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/CreateAllocatePort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeCreateEvent.kt
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/CreateInstanceEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCreateRequest.java
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Test Deployment Service, documentation, Build and Deploy Compute Service, Build and Deploy Deployment Service

Squashed 'electron/' changes from 8e86c34d..5de46555
  front-app/electron/main.ts
Due: none

Squashed 'config/' changes from a692cf1..f3cecf8
  compute-service.yml
Due: none

Squashed 'server/' changes from eb1cff4..9d067e8
  compute-service/src/main/kotlin/com/ttalkak/compute/common/util/Json.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeUpdateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/DatabaseCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeAllocateCachePersistence.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/entity/ComputeAllocateCache.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputeAllocateCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/AddComputeCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/CreateAllocatePort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeUser.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/Database.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DatabaseCreateEvent.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DockerDatabaseContainer.kt
Due: Build and Deploy Compute Service

Squashed 'client/' changes from 8b8b12b9..bab03921
  client/public/click.png
  client/public/favicon.png
  client/public/next.svg
  client/public/vercel.svg
  client/src/app/activity/page.tsx
  client/src/app/database/page.tsx
  client/src/app/deploy/form/components/BackendForm.tsx
  client/src/app/deploy/form/components/DeploymentForm.tsx
  client/src/app/deploy/form/page.tsx
  client/src/app/layout.tsx
  client/src/app/payments/page.tsx
  client/src/app/usage/page.tsx
  client/src/components/NavBar.tsx
  client/src/components/NavLink.tsx
  client/src/constants/routeURL.ts
  client/src/store/useDeployStore.ts
  client/src/types/deploy.ts
Due: none

Squashed 'server/' changes from 9d067e8..b0b342f
  compute-service/src/main/kotlin/com/ttalkak/compute/common/util/Json.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputeAllocateCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/Database.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from b0b342f..02ffd6d
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from 02ffd6d..15b6cd6
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from 15b6cd6..88d6ecf
  .idea/workspace.xml
  Jenkinsfile
  deployment-service/src/main/java/com/ttalkak/deployment/config/DomainFeignClient.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateHostingInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/DatabaseOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/DomainOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/EventOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDatabaseUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/InquiryUsecase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/CreateDatabaseEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DeploymentEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/domainadapter/DomainAdapterPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/domainadapter/dto/DatabaseDomainKeyRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/domainadapter/dto/DatabaseDomainKeyResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/domainadapter/dto/WebDomainKeyResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/domainadapter/dto/WebDomainRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/DatabaseAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/DatabaseRepository.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/DeploymentKafkaProducer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DatabaseCreateRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DatabaseResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentDetailResponse.java
  deployment-service/src/main/resources/application.yml
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 88d6ecf9..de7a177c
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/common/global/error/ErrorCode.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CommandDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDockerFileInputPortRegacy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateHostingInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/DatabaseOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CommandDeploymentStatusUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDatabaseUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDeploymentUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDockerFileUseCaseRegacy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/DeleteDatabaseUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/DeleteDeploymentUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateDeploymentStatusUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateDeploymentUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateHostingUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/WebHookDeploymentUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/inquiryUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/DatabaseAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/DatabaseRepository.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/ChangeStatusConsumer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/HostingEventConsumer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentFeignController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentWebHookController.java
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from de7a177c..f05c945d
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/DatabaseCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from f05c945d..395ddd83
  deployment-service/Dockerfile
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 395ddd83..72f9ca2a
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/DomainOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/DatabaseRepository.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 72f9ca2a..942a453f
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/DatabaseAdapter.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 942a453f..c251db33
  .idea/workspace.xml
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/ComputeSocketController.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/request/ComputeRunningRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/feign/request/DeploymentUpdateStatusRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/RunningCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/UpsertRunningUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DockerContainer.kt
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
Due: Test Deployment Service, documentation, Build and Deploy Compute Service, Build and Deploy Deployment Service

Squashed 'client/' changes from bab03921..a9ad8c8e
  client/public/logo.png
  client/src/app/globals.css
  client/src/app/login/page.tsx
Due: none

Squashed 'server/' changes from c251db33..577ce4e2
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputeAllocateCacheRepository.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from 577ce4e2..f20a3d7a
  deployment-service/Dockerfile
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from f20a3d7a..b1f07dc8
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CommandDeploymentStatusUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDatabaseUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDeploymentUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDockerFileUseCaseRegacy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDockerfileUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/DeleteDatabaseUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/DeleteDeploymentUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateDeploymentStatusUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateDeploymentUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateHostingUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/WebHookDeploymentUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/inquiryUseCase.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service
