Repository sgo722/ttalkak: changes, and which Jenkins stages are due for each by the changed paths.
All: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Path conditions:
  Test User Service: any of: user-service/**
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: ((any of: deployment-service/**) or (any of: project-service/**)) or (any of: user-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**

Squashed 'electron/' changes from b28d1958..6fc78cfa
  front-app/src/pages/SignUp.tsx
Due: none

Squashed 'server/' changes from f4bc118e..127bde50
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeUpdateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeCreateEvent.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/UpdateComputeStatusEvent.kt
Due: Build and Deploy Compute Service

Squashed 'client/' changes from 8fb346de..aabf2fe5
  client/src/app/database/components/DetailModal.tsx
  client/src/app/deploy/[id]/page.tsx
  client/src/app/project/[id]/components/DeploymentStatus.tsx
  client/src/types/database.ts
  client/src/types/deploy.ts
  client/src/types/project.ts
  client/src/utils/getStatusTooltip.ts
Due: none

Squashed 'server/' changes from 127bde50..4f902bb9
  contract-service/package.json
Due: none

Squashed 'server/' changes from 4f902bb9..f9e18c2c
  contract-service/src/main.ts
Due: none

Squashed 'server/' changes from f9e18c2c..59214695
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CommandDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CommandDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CommandDatabaseStatusUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateDatabaseStatusUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateDeploymentStatusUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/UpdateDatabaseStatusEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/vo/ServiceType.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/ChangeDatabaseStatusConsumer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/ChangeDatabaseStatusProducer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/ChangeDeploymentStatusConsumer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/ChangeDeploymentStatusProducer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentFeignController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DatabaseCommandStatusRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/UpdateStatusRequest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 59214695..f7e1e85f
  compute-service/src/main/kotlin/com/ttalkak/compute/common/util/LogCreator.kt
  user-service/src/test/java/com/ttalkak/user/user/adapter/in/web/AuthControllerTest.java
Due: Test User Service, documentation, Build and Deploy User Service, Build and Deploy Compute Service

Squashed 'server/' changes from f7e1e85f..bf09523a
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ContractService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/UserStatus.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from bf09523a..8e017fb8
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/DatabaseEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'client/' changes from aabf2fe5..e027a6d4
  client/src/apis/payment/useGetPayment.ts
  client/src/app/payment/page.tsx
  client/src/types/payment.ts
Due: none

Squashed 'server/' changes from 8e017fb8..6f7f4ae5
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/DatabaseEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DatabaseDetailResponse.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 6f7f4ae5..e071ffd4
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
Due: Build and Deploy Compute Service

Squashed 'electron/' changes from 6fc78cfa..225ea5bd
  front-app/src/services/deployments/buildHandler/buildDatabaseHandler.ts
  front-app/src/services/deployments/buildHandler/buildProcessHandler.ts
  front-app/src/services/websocket/sendUpdateUtils.ts
  front-app/src/stores/databaseStore.tsx
  front-app/src/stores/deploymentStore.tsx
  front-app/src/types/global.d.ts
Due: none

Squashed 'server/' changes from e071ffd4..481cdc72
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/common/RandomGenerator.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 481cdc72..66c2255c
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/HostingEntity.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 66c2255c..d606dba4
  project-service/build.gradle
  project-service/src/main/java/com/ttalkak/project/config/CachingConfig.java
  project-service/src/main/java/com/ttalkak/project/project/framework/jpaadapter/adapter/ProjectPersistenceAdapter.java
  project-service/src/main/java/com/ttalkak/project/project/framework/web/ProjectController.java
  project-service/src/main/resources/application.yml
  project-service/src/main/resources/ehcache.xml
Due: Test Project Service, documentation, Build and Deploy Project Service

Squashed 'client/' changes from e027a6d4..957d87a5
  client/src/apis/webhook/useGetMultipleWebhooks.ts
  client/src/apis/webhook/useGetWebhooks.ts
  client/src/app/project/[id]/components/ProjectContent.tsx
  client/src/types/project.ts
Due: none

Squashed 'electron/' changes from 225ea5bd..f6f04627
  front-app/electron/ipc/ipcHandlers.ts
  front-app/electron/managers/dockerContainerManager.ts
  front-app/electron/managers/dockerDBManager.ts
  front-app/src/services/deployments/buildHandler/buildDeployHandler.ts
  front-app/src/services/deployments/buildHandler/buildImageHandler.ts
  front-app/src/services/deployments/buildHandler/buildProcessHandler.ts
  front-app/src/services/deployments/buildHandler/deploymentUtils.ts
  front-app/src/services/deployments/deployCommandHandler.ts
  front-app/src/services/deployments/pgrokHandler.ts
  front-app/src/services/stompClientService.ts
  front-app/src/stores/deploymentStore.tsx
Due: none

Squashed 'server/' changes from d606dba4..04681dbf
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDatabaseStatusInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'electron/' changes from f6f04627..70839c07
  front-app/electron/deployments.db
  front-app/electron/ipc/ipcHandlers.ts
  front-app/electron/managers/dockerContainerManager.ts
  front-app/electron/managers/dockerDBManager.ts
  front-app/electron/managers/dockerEventManager.ts
  front-app/electron/preload.ts
  front-app/electron/utils.ts
  front-app/src/features/dashboard/ContainerList.tsx
  front-app/src/features/dashboard/ImageList.tsx
  front-app/src/pages/DashBoard.tsx
  front-app/src/pages/Home.tsx
  front-app/src/services/deployments/buildHandler/buildDatabaseHandler.ts
  front-app/src/services/deployments/buildHandler/buildDeployHandler.ts
  front-app/src/services/deployments/buildHandler/buildImageHandler.ts
  front-app/src/services/deployments/buildHandler/buildProcessHandler.ts
  front-app/src/services/deployments/buildHandler/deploymentUtils.ts
  front-app/src/services/deployments/deployCommandHandler.ts
  front-app/src/services/deployments/dockerEventListner.ts
  front-app/src/services/deployments/pgrokHandler.ts
  front-app/src/services/deployments/terminateAllDatabases.ts
  front-app/src/services/deployments/terminateAllDeployments.ts
  front-app/src/services/monitoring/cpuUsageListner.ts
  front-app/src/services/monitoring/healthCheckPingUtils.ts
  front-app/src/services/paymentService.ts
  front-app/src/services/startService.ts
  front-app/src/services/stompClientService.ts
  front-app/src/services/stopAllFunction.ts
  front-app/src/services/storeHandler/dockerStateHandler.ts
  front-app/src/services/websocket/sendComputeConnect.ts
  front-app/src/services/websocket/sendCurrentState.ts
  front-app/src/services/websocket/sendUpdateUtils.ts
  front-app/src/stores/containerStore.tsx
  front-app/src/stores/cpuStore.tsx
  front-app/src/stores/databaseStore.tsx
  front-app/src/stores/deploymentStore.tsx
  front-app/src/stores/dockerStore.tsx
  front-app/src/stores/imageStore.tsx
  front-app/src/types/global.d.ts
Due: none

Squashed 'server/' changes from 04681dbf..c6e9e6ca
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CommandDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/UpdateDatabaseStatusEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/DeleteEventProducer.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'client/' changes from f737d975..c0d73908
  client/src/app/page.tsx
Due: none

Squashed 'electron/' changes from 70839c07..36e7cefe
  front-app/electron/managers/pgrokManager.ts
  front-app/src/features/dashboard/ImageList.tsx
  front-app/src/pages/Home.tsx
  front-app/src/services/deployments/buildHandler/buildDatabaseHandler.ts
  front-app/src/services/deployments/buildHandler/buildProcessHandler.ts
Due: none

Squashed 'server/' changes from c6e9e6ca..06101bde
  contract-service/src/payment/payment.controller.ts
  contract-service/src/payment/payment.service.ts
Due: none
