Repository sgo722/ttalkak: changes, and which Jenkins stages are due for each by the changed paths.
All: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Test User Service:
                      steps {
                          script {
                              sh """
                              cd user-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

Test Deployment Service:
                      steps {
                          script {
                              sh """
                              cd deployment-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

Test Project Service:
                      steps {
                          script {
                              sh """
                              cd project-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

documentation:
              steps {
                  sh """
                  docker ps -q --filter "name=document-service" | xargs -r docker stop
                  docker ps -aq --filter "name=document-service" | xargs -r docker rm
  ...

Build and Deploy Eureka Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop eureka-server || true
                              docker-compose -f docker-compose-prod.yml rm -f eureka-server || true
  ...

Build and Deploy Config Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop config-server || true
                              docker-compose -f docker-compose-prod.yml rm -f config-server || true
  ...

Build and Deploy Notification Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop notification-service || true
  ...

Build and Deploy Gateway Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop gateway-service || true
                              docker-compose -f docker-compose-prod.yml rm -f gateway-service || true
  ...

Build and Deploy User Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop user-service || true
                              docker-compose -f docker-compose-prod.yml rm -f user-service || true
  ...

Squashed 'server/' changes from 355e75a..ff5077e
  .idea/workspace.xml
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/feign/request/DeploymentUpdateStatusRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/Environment.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/RunningStatus.kt
Due: Build and Deploy Compute Service

Squashed 'client/' changes from bac0ef9..52719e0
  client/src/app/deploy/form/components/BackendForm.tsx
  client/src/app/deploy/form/components/FrontendForm.tsx
  client/src/store/useDeployStore.ts
  client/src/types/deploy.ts
Due: none

Squashed 'server/' changes from ff5077e..18b2a7f
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'electron/' changes from b509ee40..788cdac2
  front-app/electron/dockerManager.ts
  front-app/electron/ipc/ipcHandlers.ts
  front-app/electron/main.ts
  front-app/electron/managers/dockerDBManager.ts
  front-app/electron/managers/dockerImageManager.ts
  front-app/electron/managers/dockerUtils.ts
  front-app/electron/managers/filemanager/dockerFileMaker.ts
  front-app/electron/managers/filemanager/dokerFileFinder.ts
  front-app/electron/managers/filemanager/downloadManager.ts
  front-app/electron/managers/filemanager/envFileMaker.ts
  front-app/electron/managers/githubManager.ts
  front-app/electron/preload.ts
  front-app/src/components/SideNavBar.tsx
  front-app/src/features/dashboard/ContainerList.tsx
  front-app/src/features/dashboard/ImageList.tsx
  front-app/src/pages/DashBoard.tsx
  front-app/src/services/deployments/buildHandler/buildBackHandler.ts
  front-app/src/services/deployments/buildHandler/buildDeployHandler.ts
  front-app/src/services/deployments/buildHandler/buildFrontHandler.ts
  front-app/src/services/deployments/buildHandler/buildImageHandler.ts
  front-app/src/services/deployments/buildHandler/buildProcessHandler.ts
  front-app/src/services/deployments/buildHandler/deploymentUtils.ts
  front-app/src/services/deployments/deployCommandHandler.ts
  front-app/src/services/deployments/dockerBuildHandler.ts
  front-app/src/services/deployments/dockerEventListner.ts
  front-app/src/services/deployments/dockerUtils.ts
  front-app/src/services/deployments/terminateAllDeployments.ts
  front-app/src/services/monitoring/healthCheckPingUtils.ts
  front-app/src/services/stompClientService.ts
  front-app/src/services/stopAllFunction.ts
  front-app/src/services/storeHandler/dockerStateHandler.ts
  front-app/src/services/websocket/reconnectUtils.ts
  front-app/src/services/websocket/sendComputeConnect.ts
  front-app/src/stores/appStatusStore.tsx
  front-app/src/stores/dockerStore.tsx
  front-app/src/types/global.d.ts
Due: none

Squashed 'server/' changes from 18b2a7f..6232c47
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 6232c47..c334851
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/feign/request/DeploymentUpdateStatusRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ConnectService.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from c334851..5aba165
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeAllocateCachePersistence.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/entity/ComputeAllocateCache.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputeAllocateCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/CreateAllocatePort.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from 5aba165..64603f0
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/exception/CustomControllerAdvice.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'electron/' changes from 788cdac2..db082acb
  front-app/electron/managers/filemanager/dockerFileMaker.ts
  front-app/electron/managers/filemanager/downloadManager.ts
  front-app/electron/managers/filemanager/envFileMaker.ts
  front-app/src/services/deployments/buildHandler/buildImageHandler.ts
  front-app/src/services/deployments/buildHandler/buildProcessHandler.ts
  front-app/src/services/deployments/buildHandler/deploymentUtils.ts
  front-app/src/services/deployments/deployCommandHandler.ts
  front-app/src/services/deployments/dockerEventListner.ts
  front-app/src/services/deployments/pgrokHandler.ts
  front-app/src/services/stompClientService.ts
  front-app/src/services/storeHandler/dockerStateHandler.ts
  front-app/src/services/websocket/sendUpdateUtils.ts
Due: none

Squashed 'server/' changes from 64603f0..b9a68f5
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/vo/DeploymentStatus.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from b9a68f5..41a252c
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 41a252c..afe09e3
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeAllocateCachePersistence.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/RedisLockCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputeAllocateCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputePortCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/RedisLockCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/AddComputeCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/AllocateCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/AllocateUseCase.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/LoadAllocatePort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/LoadConnectPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/RedisLockPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/SavePortPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeUser.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DockerContainer.kt
Due: Build and Deploy Compute Service

Squashed 'client/' changes from 52719e0..40fd458
  client/src/app/deploy/create/[type]/components/githubRepos.tsx
  client/src/app/deploy/form/components/BackendForm.tsx
Due: none

Squashed 'electron/' changes from db082acb..16b01be9
  front-app/electron/ipc/ipcHandlers.ts
  front-app/electron/managers/dockerContainerManager.ts
  front-app/electron/managers/dockerDBManager.ts
  front-app/electron/managers/filemanager/dockerFileHtmlPermission.ts
  front-app/electron/managers/filemanager/dockerFileMaker.ts
  front-app/electron/managers/filemanager/dokerFileFinder.ts
  front-app/electron/preload.ts
  front-app/src/services/deployments/buildHandler/buildBackHandler.ts
  front-app/src/services/deployments/buildHandler/buildDeployHandler.ts
  front-app/src/services/deployments/buildHandler/buildFrontHandler.ts
  front-app/src/services/deployments/buildHandler/buildImageHandler.ts
  front-app/src/services/deployments/buildHandler/buildProcessHandler.ts
  front-app/src/services/deployments/buildHandler/deploymentUtils.ts
  front-app/src/services/deployments/deployCommandHandler.ts
  front-app/src/services/deployments/dockerEventListner.ts
  front-app/src/services/deployments/dockerUtils.ts
  front-app/src/services/websocket/reconnectUtils.ts
  front-app/src/types/global.d.ts
Due: none

Squashed 'server/' changes from afe09e3..8c67aba
  Jenkinsfile
  contract-service/.env.production
  contract-service/Dockerfile.prod
  contract-service/package.json
  contract-service/prisma/schema.prisma
  docker-compose-prod.yml
Due: none

Squashed 'server/' changes from 8c67aba..8bb6614
  contract-service/src/payment/payment.controller.ts
  gateway-service/src/main/resources/application.yml
Due: Build and Deploy Gateway Service

Squashed 'server/' changes from 8bb6614..86628c1
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputeAllocateCacheRepository.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from 86628c1..16210de
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeUser.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from 16210de..abe44ba
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputePortCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from abe44ba..5d4c7a0
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from 5d4c7a0..87fb4a5
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/ComputeSocketController.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/socket/request/ComputeStatusRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputePortCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/ConnectCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from 87fb4a5..0b69c41
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputePortCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
Due: Build and Deploy Compute Service

Squashed 'client/' changes from 40fd458..03c8cab
  client/src/store/useDeployStore.ts
  client/src/types/deploy.ts
Due: none

Path conditions:
  Test User Service: any of: user-service/**
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: ((any of: deployment-service/**) or (any of: project-service/**)) or (any of: user-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**
