Repository sgo722/ttalkak: changes, and which Jenkins stages are due for each by the changed paths.
All: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Path conditions:
  Test User Service: any of: user-service/**
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: ((any of: deployment-service/**) or (any of: project-service/**)) or (any of: user-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**

Squashed 'server/' changes from b1f07dc8..ba15aaa6
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeUpdateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DockerContainer.kt
  deployment-service/Dockerfile
Due: Test Deployment Service, documentation, Build and Deploy Compute Service, Build and Deploy Deployment Service

Squashed 'server/' changes from ba15aaa6..c73c4a3c
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeCreateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/ComputeUpdateSocketListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/DockerContainer.kt
Due: Build and Deploy Compute Service

Squashed 'client/' changes from a9ad8c8e..66df91fb
  client/src/apis/database/useCreateDatabase.ts
  client/src/apis/database/useDeleteDatabase.ts
  client/src/apis/database/useGetDatabase.ts
  client/src/apis/database/useGetDatabases.ts
  client/src/apis/database/useModifyDatabase.ts
  client/src/app/database/page.tsx
  client/src/app/usage/page.tsx
  client/src/middleware.ts
  client/src/types/database.ts
  client/src/types/deploy.ts
Due: none

Squashed 'server/' changes from c73c4a3c..7429f1aa
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/domainadapter/dto/DatabaseDomainKeyResponse.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 7429f1aa..ea54b13e
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDatabaseInputPort.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from ea54b13e..eeda3302
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DatabaseResponse.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from eeda3302..36bb9a79
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputeAllocateCacheRepository.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from 36bb9a79..03c52d5d
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDatabaseInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/CreateDatabaseEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/DatabaseEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/DeploymentKafkaProducer.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 03c52d5d..dd15b55c
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/ComputeAllocateCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
Due: Build and Deploy Compute Service

Squashed 'client/' changes from 66df91fb..204db332
  client/src/app/database/components/DatabaseModal.tsx
  client/src/app/database/page.tsx
  client/src/app/usage/page.tsx
Due: none

Squashed 'server/' changes from dd15b55c..77c6d53a
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/entity/ComputeAllocateCache.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from 77c6d53a..8e1a5902
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/outputport/DatabaseOutputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/inquiryUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/adapter/DatabaseAdapter.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/jpaadapter/repository/DatabaseRepository.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/DeploymentController.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DatabasePageResponse.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 8e1a5902..d0249187
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from d0249187..dbb02ed9
  deployment-service/src/main/java/com/ttalkak/deployment/common/BaseEntity.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from dbb02ed9..8483b7e4
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/DatabaseCreateSocketListener.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from 8483b7e4..5e6cf857
  compute-service/src/main/kotlin/com/ttalkak/compute/ComputeServiceApplication.kt
  deployment-service/src/main/java/com/ttalkak/deployment/DeploymentServiceApplication.java
  notification-service/src/main/kotlin/com/ttalkak/notification/NotificationServiceApplication.kt
  project-service/src/main/java/com/ttalkak/project/ProjectServiceApplication.java
  user-service/src/main/java/com/ttalkak/user/UserServiceApplication.java
Due: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Notification Server, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Squashed 'electron/' changes from 5de46555..4f3f6169
  front-app/src/components/Header.tsx
  front-app/src/features/auth/SettingModal.tsx
  front-app/src/features/home/CpuStatusItem.tsx
  front-app/src/features/home/PaymentStatusItem.tsx
  front-app/src/pages/SignUp.tsx
Due: none

Squashed 'server/' changes from 5e6cf857..4fc82443
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CommandDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/DeleteDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/InquiryInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/WebHookDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/UpdateDatabaseStatusUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/event/CreateDatabaseEvent.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DeploymentEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/vo/Status.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/ChangeDatabaseStatusConsumer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/kafka/ChangeDeploymentStatusConsumer.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DatabaseUpdateStatusRequest.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DatabaseResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentDetailResponse.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/response/DeploymentPreviewResponse.java
  deployment-service/src/main/resources/application.yml
  deployment-service/src/test/java/com/ttalkak/deployment/deployment/framework/web/DeploymentControllerTest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 4fc82443..8ecd324f
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'server/' changes from 8ecd324f..4e653290
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/DatabaseEntity.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'electron/' changes from 4f3f6169..f264675a
  front-app/electron/ipc/ipcHandlers.ts
  front-app/electron/managers/dockerDBManager.ts
  front-app/electron/managers/pgrokManager.ts
  front-app/electron/preload.ts
  front-app/src/services/deployments/buildHandler/buildDatabaseHandler.ts
  front-app/src/services/deployments/buildHandler/buildDeployHandler.ts
  front-app/src/services/deployments/buildHandler/buildProcessHandler.ts
  front-app/src/services/deployments/buildHandler/deploymentUtils.ts
  front-app/src/services/deployments/deployCommandHandler.ts
  front-app/src/services/deployments/pgrokHandler.ts
  front-app/src/services/deployments/terminateAllDeployments.ts
  front-app/src/services/stompClientService.ts
  front-app/src/services/storeHandler/dockerStateHandler.ts
  front-app/src/services/websocket/sendUpdateUtils.ts
  front-app/src/stores/databaseStore.tsx
  front-app/src/stores/deploymentStore.tsx
  front-app/src/types/global.d.ts
Due: none

Squashed 'tunneling/' changes from 59c506f..d99f498
  main.py
Due: none
