Repository sgo722/ttalkak: changes, and which Jenkins stages are due for each by the changed paths.
All: Test User Service, Test Deployment Service, Test Project Service, documentation, Build and Deploy Eureka Server, Build and Deploy Config Server, Build and Deploy Notification Server, Build and Deploy Gateway Service, Build and Deploy User Service, Build and Deploy Compute Service, Build and Deploy Deployment Service, Build and Deploy Project Service

Test User Service:
                      steps {
                          script {
                              sh """
                              cd user-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

Test Deployment Service:
                      steps {
                          script {
                              sh """
                              cd deployment-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

Test Project Service:
                      steps {
                          script {
                              sh """
                              cd project-service
                              chmod +x gradlew
                              ./gradlew test
                              ./gradlew openapi3-security-schemes
  ...

documentation:
              steps {
                  sh """
                  docker ps -q --filter "name=document-service" | xargs -r docker stop
                  docker ps -aq --filter "name=document-service" | xargs -r docker rm
  ...

Build and Deploy Eureka Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop eureka-server || true
                              docker-compose -f docker-compose-prod.yml rm -f eureka-server || true
  ...

Build and Deploy Config Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop config-server || true
                              docker-compose -f docker-compose-prod.yml rm -f config-server || true
  ...

Build and Deploy Notification Server:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop notification-service || true
  ...

Build and Deploy Gateway Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop gateway-service || true
                              docker-compose -f docker-compose-prod.yml rm -f gateway-service || true
  ...

Build and Deploy User Service:
                      steps {
                          script {
                              sh """
                              docker-compose -f docker-compose-prod.yml stop user-service || true
                              docker-compose -f docker-compose-prod.yml rm -f user-service || true
  ...

Squashed 'server/' changes from 06101bde..be2b1584
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeUser.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from be2b1584..4f02a105
  contract-service/src/payment/payment.service.ts
Due: none

Squashed 'server/' changes from 4f02a105..e1f67591
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
Due: Build and Deploy Compute Service

Squashed 'server/' changes from e1f67591..df565326
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/stream/KafkaComputeListener.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/in/web/request/UpdateStatusRequest.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/persistence/StatusPersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/in/StatusCommand.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/SaveStatusPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/StatusService.kt
Due: Build and Deploy Compute Service

Squashed 'client/' changes from c0d73908..8eee2123
  client/src/app/layout.tsx
  client/src/app/page.tsx
Due: none

Squashed 'electron/' changes from 36e7cefe..4ed8379f
  front-app/src/features/dashboard/ContainerList.tsx
  front-app/src/services/deployments/dockerUtils.ts
  front-app/src/services/startService.ts
Due: none

Squashed 'server/' changes from df565326..35b652a6
  contract-service/src/main.ts
Due: none

Squashed 'server/' changes from 35b652a6..f7140aa6
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/AllocateService.kt
Due: Build and Deploy Compute Service

Squashed 'client/' changes from 8eee2123..1f75ea64
  client/public/selectIcon.png
  client/src/apis/database/useGetDatabase.ts
  client/src/apis/database/useModifyDatabaseStatus.ts
  client/src/apis/deploy/useGetHistogram.ts
  client/src/apis/project/useGetLog.ts
  client/src/apis/project/useGetProject.ts
  client/src/apis/project/useGetProjectToLog.ts
  client/src/apis/project/useGetProjects.ts
  client/src/app/dashboard/components/DoughnutChart.tsx
  client/src/app/dashboard/components/HistogramChart.tsx
  client/src/app/dashboard/components/Monitoring.tsx
  client/src/app/dashboard/page.tsx
  client/src/app/database/components/DetailModal.tsx
  client/src/app/globals.css
  client/src/app/layout.tsx
  client/src/app/page.tsx
  client/src/app/project/[id]/components/DeploymentStatus.tsx
  client/src/components/NavBar.tsx
Due: none

Squashed 'electron/' changes from 4ed8379f..792eb5c1
  front-app/src/axios/auth.tsx
  front-app/src/components/Loading.tsx
  front-app/src/features/dashboard/ContainerList.tsx
  front-app/src/features/dashboard/ImageList.tsx
  front-app/src/pages/DashBoard.tsx
  front-app/src/services/deployments/buildHandler/buildDatabaseHandler.ts
  front-app/src/services/deployments/buildHandler/buildProcessHandler.ts
  front-app/src/services/deployments/deployCommandHandler.ts
  front-app/src/services/deployments/dockerEventListner.ts
  front-app/src/services/deployments/terminateAllDeployments.ts
  front-app/src/services/startService.ts
  front-app/src/services/stompClientService.ts
  front-app/src/stores/authStore.tsx
  front-app/src/stores/containerStore.tsx
  front-app/src/stores/imageStore.tsx
  front-app/src/types/deploy.ts
  front-app/tsconfig.json
Due: none

Squashed 'server/' changes from f7140aa6..6a07ef34
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/ComputeCachePersistenceAdapter.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/adapter/out/cache/repository/RunningCacheRepository.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/port/out/LoadRunningPort.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ComputeService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/application/service/ConnectService.kt
  compute-service/src/main/kotlin/com/ttalkak/compute/compute/domain/ComputeInstance.kt
Due: Build and Deploy Compute Service

Squashed 'client/' changes from 1f75ea64..14ea1535
  client/src/apis/deploy/useGetHistogram.ts
  client/src/app/dashboard/components/HistogramChart.tsx
  client/src/app/dashboard/page.tsx
Due: none

Squashed 'electron/' changes from 792eb5c1..bd152c56
  front-app/src/services/websocket/sendCurrentState.ts
Due: none

Squashed 'server/' changes from 6a07ef34..75057d4c
  .idea/workspace.xml
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CommandDatabaseStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CommandDeploymentStatusInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/CreateDockerFileInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateDeploymentInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/inputport/UpdateHostingInputPort.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/application/usecase/CreateDockerfileUseCase.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/HostingEntity.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/DockerfileTemplate.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/backend/BackendDockerfile.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/backend/BuildToolStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/backend/GradleBuildToolStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/backend/MavenBuildToolStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/BuildToolStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/CraStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/FrontendDockerfile.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/NpmStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/PackageManagerStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/ViteStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/docker/frontend/YarnStrategy.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/domain/model/vo/ServiceType.java
  deployment-service/src/main/java/com/ttalkak/deployment/deployment/framework/web/request/DeploymentCreateRequest.java
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'client/' changes from 14ea1535..af5f446d
  client/src/apis/deploy/useGetHistogram.ts
  client/src/apis/project/useGetLog.ts
  client/src/apis/project/useGetProjectToLog.ts
  client/src/apis/project/useGetProjectsToLog.ts
  client/src/app/dashboard/components/DoughnutChart.tsx
  client/src/app/dashboard/components/Monitoring.tsx
  client/src/app/dashboard/page.tsx
  client/src/app/database/components/DatabaseList.tsx
  client/src/app/deploy/form/components/DeploymentForm.tsx
  client/src/app/project/[id]/components/ProjectContent.tsx
  client/src/app/project/[id]/loading.tsx
  client/src/app/project/components/ProjectList.tsx
  client/src/components/EmailRegistrationModal.tsx
Due: none

Squashed 'electron/' changes from bd152c56..fb9bb37d
  front-app/electron/managers/filemanager/dokerFileFinder.ts
  front-app/src/components/Loading.tsx
  front-app/src/features/dashboard/ContainerList.tsx
  front-app/src/features/dashboard/ImageList.tsx
  front-app/src/services/deployments/buildHandler/buildDatabaseHandler.ts
  front-app/src/services/deployments/buildHandler/buildProcessHandler.ts
Due: none

Update README.md
  README.md
Due: none

fix
  .idea/S11P21C108.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/modules.xml
  .idea/vcs.xml
Due: none

Squashed 'server/' changes from 2ee594eb..69ac7afb
  Jenkinsfile
  deployment-service/Dockerfile
Due: Test Deployment Service, documentation, Build and Deploy Deployment Service

Squashed 'electron/' changes from fb9bb37d..9457bc86
  front-app/README.md
  front-app/electron/managers/dockerEventManager.ts
  front-app/electron/managers/dockerLogsManager.ts
  front-app/electron/managers/filemanager/dokerFileFinder.ts
  front-app/electron/managers/pgrokManager.ts
  front-app/electron/preload.ts
  front-app/package-lock.json
  front-app/src/axios/auth.tsx
  front-app/src/axios/fee.tsx
  front-app/src/axios/payment.tsx
  front-app/src/components/Header.tsx
  front-app/src/components/Loading.tsx
  front-app/src/components/ui/tabs.tsx
  front-app/src/features/dashboard/ContainerList.tsx
  front-app/src/features/home/PaymentStatusItem.tsx
  front-app/src/pages/DashBoard.tsx
  front-app/src/pages/Home.tsx
  front-app/src/services/deployments/buildHandler/buildDatabaseHandler.ts
  front-app/src/services/deployments/buildHandler/buildDeployHandler.ts
  front-app/src/services/deployments/buildHandler/buildProcessHandler.ts
  front-app/src/services/deployments/buildHandler/deploymentUtils.ts
  front-app/src/services/deployments/deployCommandHandler.ts
  front-app/src/services/deployments/dockerEventListner.ts
  front-app/src/services/monitoring/healthCheckPingUtils.ts
  front-app/src/services/startService.ts
  front-app/src/services/stompClientService.ts
  front-app/src/services/websocket/sendUpdateUtils.ts
  front-app/src/stores/authStore.tsx
  front-app/src/stores/coinStore.tsx
  front-app/src/stores/containerStore.tsx
  front-app/src/types/global.d.ts
Due: none

Squashed 'server/' changes from 69ac7afb..cd1dc0b4
  project-service/Dockerfile
Due: Test Project Service, documentation, Build and Deploy Project Service

Squashed 'server/' changes from cd1dc0b4..68a8de82
  .idea/workspace.xml
  project-service/src/main/java/com/ttalkak/project/project/application/inputport/GetProjectInputPort.java
  project-service/src/main/java/com/ttalkak/project/project/domain/model/ProjectEntity.java
Due: Test Project Service, documentation, Build and Deploy Project Service

Squashed 'client/' changes from 6b92cd2f..0dd4ed01
  client/src/app/components/VideoPage.tsx
  client/src/app/dashboard/components/HistogramChart.tsx
  client/src/app/mypage/page.tsx
Due: none

Squashed 'electron/' changes from 9457bc86..ef40d74b
  front-app/src/axios/fee.tsx
  front-app/src/axios/payment.tsx
Due: none

Path conditions:
  Test User Service: any of: user-service/**
  Test Deployment Service: any of: deployment-service/**
  Test Project Service: any of: project-service/**
  documentation: ((any of: deployment-service/**) or (any of: project-service/**)) or (any of: user-service/**)
  Build and Deploy Eureka Server: any of: eureka-server/**
  Build and Deploy Config Server: any of: config-server/**
  Build and Deploy Notification Server: any of: notification-service/**
  Build and Deploy Gateway Service: any of: gateway-service/**
  Build and Deploy User Service: any of: user-service/**
  Build and Deploy Compute Service: any of: compute-service/**
  Build and Deploy Deployment Service: any of: deployment-service/**
  Build and Deploy Project Service: any of: project-service/**
